body {
  background: black;
}

.top, .background {
  background: gold;
  margin:0%;
  padding: 0%;
}

.middle{
  background: black;
  padding: 2% 2% 1% 2%;

}

.footer {
  background: rgb(60, 60, 60);
  padding: 1% 1% 1% 1%;
}

.welcome {
  margin-left: 15%;
}

li {
  padding: 7.5% 18%  7.5%;
  /* margin-left: 2em; */
}

ul {
  margin: 5%;
}

.is-horizontal, #start{
  padding: 1.5% 0 1.5% 0;
}

.footer > div > p > a,.numbers {
  color: gold;
  padding: 0 4% 0 4%;
  margin-top:none;
  margin-bottom: none;
  padding-top: none;
  padding-bottom: none;
}

.footer > div > p > a:hover {
  color:black;
}
