body, html {
  width: 100%;
  height: 100%;
 background-image: url(http://cdn.knowledgehi.com/3504x2336/20121021/lg%20looking%20for%205760x1080%20panorama%20of%20the%20miami%20skyline%203504x2336%20wallpaper_www.knowledgehi.com_96.jpg); background-repeat: no-repeat; background-size: cover;}

body {
  font-family: 'Montserrat', sans-serif;
}

hr {
  max-width: 65px;
  border-width: 3px;
  border-color: #F05F44;
}

.faded {
  color: rgba(255, 255, 255, 0.8);
}

header.startup {
  background-position: center;
  background-image: url("header.jpg");
  background-size: cover;
  height: 100%;
}

header.startup hr {
  margin-top: 20px;
  margin-bottom: 30px;
}

header.startup h1 {
  font-size: 2rem;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44;
}

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: pointer;
}

/* unvisited */
a:link { color: white;}

/* visited */
a:visited {color: white;}

/* mouse over */
a:hover { color:rgb(223, 179, 122);}

.display-4, label {color:rgb(119, 8, 8);}
